<div class="row">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">TuMascota</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="ingresar">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="descargas">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="descargas">Contacto</a>
                </li>

            </ul>

        </div>
    </nav>
</div>



<div class="container">
    <div class="w3-row">

        <div class="w3-col" style="width:185px">
            <div class="custom-form" method="post">
                <h1>Login</h1>
                <input type="email" name="email" placeholder="Email" required="required" />
                <input type="password" name="password" placeholder="Password" required="required" />
                <button type="submit">Log in</button>
            </div>
        </div>
        <div class="w3-rest">
            <h1>Adopta Tu Mascota</h1>
            <p class="lead text-muted">Todo Tipo de Raza</p>
        </div>
    </div>
</div>